<div class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand" href="#">Recipe Book </a>
    </div>
    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a (click)="onSelect('recipe')" class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item">
          <a (click)="onSelect('shopping-list')" class="nav-link" href="#">Shopping List</a>
        </li>
  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div appDropdown class="btn-group">
          <button class="btn btn-primary dropdown-toggle" type="button">Dropdown<span
            class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Fetch data</a></li>
            <li><a href="#">Save data</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
</div>
